<div class="container">
  <div class="col-xs-12">
    <h1>My Tasks</h1>
    <% @tasks.each do |task| %>
      <% task[:title], task[:details] %>
    <% end %>
    <%= link_to new_task_path do %>
    <% end %>
  </div>
</div>
